<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.xchaset.dao.UserInfoMapper">  
   
	<select id="getByName"  resultType="com.xchaset.bean.UserInfo">  
  	  select * from users where username='${user_name}'
    </select>  
    
    
   <!--  <select id="queryAll"  resultType="com.xchaset.core.model.User">  
    select id,userName,phone,age from users   
    </select>   -->
</mapper>  